# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.py~

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Dependency directories
node_modules/
jspm_packages/

# Editors / OS
.idea/
.vscode/
*.swp
.DS_Store

# Frappe
*.log
